.row {
    margin-left: 0;
    margin-right: 0;
}

.form-container {
    background-color: var(--primary-dark-transparent);
    border-radius: 1em;
    border: 2px solid #fff;
    padding: 2em;
    max-width: 400px;
    margin: 2em auto;
}

.form {
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    border: #c2c2c2 3px solid;
}