@import url('navbar.css');

:root {
    --primary-transparent: rgba(255, 209, 125, 0.8);
    --primary: #FFD17D;
    --secondary-transparent: rgba(235, 96, 147, 0.8);
    --secondary: #EB6093;
    --primary-dark: #FFBC42;
    --primary-dark-transparent: #ffbc42cc;
    --secondary-dark-transparent: #d81159cc;
    --secondary-dark: #D81159;

}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.content {
    margin-top: 1em;
    padding: 1em;
    background-color: var(--primary-dark-transparent);
    border-radius: 1em;
    border: 2px solid #fff;
    overflow: auto;
    font-size: 1.2em;
}